* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

:root {
    font-family: 'Righteous', cursive;
}

$first-color: #FECD45;
$second-color: #2568FB;
$third-color: #212529;
$fourth-color: #e9ecef;
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: $fourth-color;
    opacity: 0.4;
}